@use "../0-helpers/index" as *;

.blockquote {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;

  &__img {
    width: 48px;
    margin-right: 1rem;
  }

  &__date {
    flex: 0 0 70%;
    font-size: 0.9rem;
    line-height: 2rem;
    border-radius: 10px;
    color: $color-dark-blue;
  }
}
