@use "../0-helpers/index" as *;

.btn-primary {
  font-size: 1rem;
  color: $color-champagne;
  text-transform: uppercase;
  font-weight: 800;
  box-shadow: inset 3px 6px 18px 1px rgba(0, 0, 0, 0.21);
  background-color: $color-light-red;

  &:hover {
    box-shadow: none;
    opacity: 0.8;
    cursor: pointer;
  }
}

// Donation Button
.dbox-donation-button {
  background: #1e2640 url(https://donorbox.org/images/red_logo.png) no-repeat 18px;
  color: #fff;
  text-decoration: none;
  font-family: Verdana, sans-serif;
  display: inline-block;
  font-size: 16px;
  padding: 13px 17px;
  padding-left: 56px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 10px;
  box-shadow: 0 1px 0 0 #1f5a89;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

// Subscribe Button
.btn--left-padding-icon {
  height: 50px;
  width: 280px;
  font-size: 1rem;
  background: $color-dark-blue url("~@/assets/images/icon-email.png") no-repeat 20px center;
  background-size: 2rem;
  color: $color-champagne;
  text-align: right;
  padding-right: 20px;
  line-height: 50px;
  font-weight: 700;
  text-transform: uppercase;
  @include generate-shadow($component: "box", $mode: "dark");
}
