@use "../0-helpers/index" as *;
.carousel {
  &__title {
    display: block;
    text-align: center;
    padding: 0.5rem 1rem;
    text-transform: capitalize;
    font-size: 1.3rem;

    color: $color-champagne;
    font-weight: 700;
    background-color: $color-light-red;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}
