@use "../0-helpers/index" as *;
.flex-reviews {
  &__title {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    display: inline-block;
    text-transform: uppercase;

    position: relative;
    // Underline
    &::after {
      @include generate-underline($width: 10%, $height: 5px);
    }
  }

  // Flex Content
  .row {
    @include generate-perfect-flex($childWidth: 48%, $childsPerRow: 2);
    &__cell {
      border: 1px solid $color-dark-blue;
    }
  }
}

@include design-respond-to($device: "tablet") {
  .flex-reviews {
    .row {
      @include generate-perfect-flex($childWidth: 32%, $childsPerRow: 3);
    }
  }
}
