@use "../0-helpers/index" as *;

// Header
.header {
  width: 100%;
  position: sticky;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: $color-dark-blue;
  opacity: 0.95;
  height: 165px;

  // configure the container a bit
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }

  @include design-respond-to($device: "tablet") {
    height: 180px;
    .container {
      justify-content: center;
    }
  }
}

// Logo
.header__logo {
  margin: 0 auto;
  text-align: center;
}

// Search bar
.header__searchbar {
  margin: 5px auto;
  width: 70%;

  @include design-respond-to($device: "tablet") {
    margin: 15px auto;
    width: 50%;
  }
}
