@use "../0-helpers/index" as *;

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  height: auto;

  li {
    > a {
      display: inline-block;
      font-size: 0.8rem;
      color: $color-dark-blue;
      line-height: 25px;
      margin: 5px;
      text-transform: uppercase;
      font-weight: bold;
      background-color: $color-champagne;
      border-radius: 10px;
      padding: 0 5px;
    }
  }

  //! Can not render the target color
  // &__item--important {
  //   > a {
  //     background-color: $color-dark-blue;
  //   }
  // }

  @include design-respond-to($device: "tablet") {
    li {
      > a {
        font-size: 1.2rem;
        padding: 2px 10px;
      }
    }
  }
}
