@use "../0-helpers/index" as *;

// Set the default html
html {
  font-size: 16px;
  font-family: $font-roboto-mono;
  font-weight: regular;
}

// Set the default body
body {
  background-color: $color-white;
  background: $color-background-gradient;
}

main {
  margin: 3rem 0;
}

// Set the default input, textarea, select
input,
textarea,
select {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: $color-champagne;
  resize: none;

  &::-webkit-input-placeholder {
    font-family: $font-roboto-mono;
    font-size: 0.8rem;
    text-transform: capitalize;
    color: $color-dark;
  }

  &::-moz-placeholder {
    font-family: $font-roboto-mono;
    font-size: 0.8rem;
    text-transform: capitalize;
    color: $color-dark;
  }

  &::-moz-placeholder {
    font-family: $font-roboto-mono;
    font-size: 0.8rem;
    text-transform: capitalize;
    color: $color-dark;
  }

  &::-ms-input-placeholder {
    font-family: $font-roboto-mono;
    font-size: 0.8rem;
    text-transform: capitalize;
    color: $color-dark;
  }

  &::placeholder {
    font-family: $font-roboto-mono;
    font-size: 0.8rem;
    text-transform: capitalize;
    color: $color-dark;
  }
}

// Input Specific Type
input[type="text"],
input[type="file"] {
  font-family: $font-roboto-mono;
}

// Input [type=file]

input[type="file"] {
  -webkit-appearance: textfield;
  position: relative;
  -webkit-box-sizing: border-box;
}
input[type="file"]::-webkit-file-upload-button {
  width: 100px;
  height: 40px;
  margin-right: 10px;
  -webkit-appearance: none;
  border-radius: 10px;
  font-family: $font-roboto-mono;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 0.8rem;
  background-color: $color-dark-blue;
  color: $color-champagne;
}

// Set the default button
button {
  border-radius: 10px;
}

// Select
select {
  background-color: $color-dark-blue;
  border-radius: 10px;
  color: $color-champagne;
}
