/* Everything Reset
-----------------------------------------------*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Highest Elements Reset
-----------------------------------------------*/

body,
html {
  min-height: 100vh;
}

main {
  height: 100%;
}

/* List Reset
-----------------------------------------------*/

ul {
  list-style-type: none;
}

/* Content Components Reset
-----------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
form,
label,
span,
ul,
ol,
dl,
fieldset,
address {
  font-weight: inherit;
  font-family: inherit;
  font-size: inherit;
}

/* Link and Image Reset
-----------------------------------------------*/
a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

/* Form Input Reset
-----------------------------------------------*/
label,
select,
button,
input,
textarea {
  border: 0;
  outline: 0;
}

/* Search Input
-----------------------------------------------*/

/* Make webkit render the search input like a normal text field */
input[type="search"] {
  -webkit-appearance: textfield;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none;
}


/* "x::-webkit-file-upload-button" forces the rules to only apply to browsers that support this pseudo-element */
