@use "../../0-helpers/index" as *;
.form-review {
  // Select Book
  &__select-book {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    span {
      font-size: 1.3rem;

      @include design-respond-to($device: "tablet") {
        font-size: 2rem;
      }
    }

    // Choose book
    select {
      flex: 0 0 65%;
      border: 1px dashed black;
      background-color: $color-baby-blue;
      color: $color-dark;
    }
  }

  // Sections
  &__sections {
    span {
      display: block;
      font-size: 1.3rem;
      margin-bottom: 0.4rem;

      @include design-respond-to($device: "tablet") {
        font-size: 2rem;
        margin-bottom: 0.7rem;
      }
    }

    input,
    textarea {
      border: 1px dashed black;
      margin-bottom: 1rem;
      background-color: $color-baby-blue;
    }
  }

  &__submit {
    text-align: center;
    button {
      height: 50px;
      width: 100%;
    }
  }
}
