@use "../../0-helpers/index" as *;
.form-review {
  // Select Book
  &__select-book {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    span {
      font-size: 1.3rem;
    }

    // Choose book
    select {
      flex: 0 0 65%;
    }
  }

  // Sections
  &__sections {
    span {
      display: block;
      font-size: 1.3rem;
      margin-bottom: 0.4rem;
    }

    input,
    textarea {
      border: 1px dashed black;
      margin-bottom: 1rem;
      background-color: $color-baby-blue;
    }
  }
}
