// Vintag Pastels color combination
// - URL https://www.canva.com/colors/color-palettes/vintage-pastels/
$color-sage-green: #6e6d6e;
$color-dark-blue: #1e2640;
$color-lint: #dfdacd;
$color-baby-blue: #dae3e6;
$color-champagne: #feefde;
