// Vintag Pastels color combination
// - URL https://www.canva.com/colors/color-palettes/vintage-pastels/
$color-dark: #26161f;
$color-dark-blue: #1e2640;
$color-lint: #dfdacd;
$color-baby-blue: #dae3e6;
$color-champagne: #feefde;
$color-light-red: #ff0080;
