// Roboto Font
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
$font-roboto-mono: "Roboto Mono", monospace;

@import url("https://fonts.googleapis.com/css2?family=Sunshiney&display=swap");
$font-sunshiney: "Sunshiney", cursive;

@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
$font-pangolin: "Pangolin", cursive;

@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
$font-kalam: "Kalam", cursive;
