@use "../../0-helpers/index" as *;

.top-page {
  text-align: left;
  padding-bottom: 1rem;
  &__book-name {
    font-size: 2.3rem;
    line-height: 3rem;
    color: $color-dark-red;

    text-transform: capitalize;
    font-family: $font-sunshiney;
  }

  &__caption {
    &::before {
      content: '"';
    }
    &::after {
      content: '"';
    }

    margin-top: 1rem;
    font-size: 1.2rem;
    color: $color-dark-blue;
    font-family: $font-kalam;
  }

  &__author {
    margin-top: 0.6rem;
    font-size: 1rem;
    color: $color-dark-blue;
    font-weight: 700;
    text-transform: capitalize;
  }
}
